@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Pauls awesome mixin */
html {
  scroll-behavior: smooth;
}

body {
  color: #868e96;
  background: #ececec;
  font-family: Poppins;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

.hero {
  position: inherit;
  margin: 0 auto;
  padding: 8rem 0;
  overflow: hidden;
  background-color: #212529;
}

.overlay-item-top {
  margin-top: -2.5rem;
}

hr.normal {
  background-image: url("../img/transition-hr.svg");
  background-repeat: no-repeat;
  height: auto;
  margin: 0;
  border: none;
  height: 73px;
  margin-top: 0px;
  margin-bottom: -2px;
}

hr.normal.reverse {
  transform: rotateZ(180deg);
  margin-bottom: 0px;
  margin-top: -2px;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
  position: relative;
  padding-left: 2vw;
}

p.lead:before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #F3C65D;
  border-radius: 3px;
  width: 5px;
  height: 100%;
  display: block;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

.home #presentation {
  min-height: 100vh !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.text-yellow {
  color: #F3C65D !important;
}

.button {
  padding: 0px 30px;
  background-color: #F3C65D;
  display: inline-block;
  color: #fff;
  line-height: normal;
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  letter-spacing: 0.5px;
  border-radius: 6px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.5s;
}

.button:hover {
  text-decoration: none;
  color: white;
  background-color: #212529;
}

.gallery {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: auto;
  transition: 500ms;
  margin-bottom: 10px;
  opacity: 1;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  transition: all ease 0.5s;
}

.gallery img:hover {
  opacity: 0.8;
}

.gallery.instafeed {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

/*------------PROJETS-----------*/
.projets-perso .card {
  height: 570px !important;
}

.projets-perso .card h3 {
  font-size: 20px;
}

.projets-perso .card-img {
  position: relative;
}

.projets-perso .card-img p {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  background-color: #F3C65D;
  padding: 2px 10px;
}

.projets-perso .progress-bar {
  background-color: #F3C65D !important;
}

.projets-perso .progress-bar[aria-valuenow="100"] {
  background-color: #5df37d !important;
}

.projets-perso .status-desktop span:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

.projets-perso .status-desktop span.active:before {
  background: #5df37d;
  transform: scale(1);
  animation: pulse-green 2s infinite;
}

.projets-perso .status-desktop span.unactive:before {
  background: #E9585B;
}

.projets-perso .status-desktop span.finish:before {
  background: #212529;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(93, 243, 125, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(66, 179, 130, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(66, 179, 130, 0);
  }
}
